POSTGRES_VERSION=16-alpine

AUTH_DB_NAME=auth_db
AUTH_DB_USER=user_public
AUTH_DB_PASSWORD=password_public

SHIPMENT_DB_NAME=shipment_db
SHIPMENT_DB_USER=user_public
SHIPMENT_DB_PASSWORD=password_public

DISPATCH_DB_NAME=dispatch_db
DISPATCH_DB_USER=user_public
DISPATCH_DB_PASSWORD=password_public

TRACKING_DB_NAME=tracking_db
TRACKING_DB_USER=user_public
TRACKING_DB_PASSWORD=password_public

NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=user_public
NOTIFICATION_DB_PASSWORD=password_public
