apiVersion: v1
kind: Secret
metadata:
  name: auth-db-secret
  namespace: delivery
  labels:
    app: auth-db
type: Opaque
stringData:
  POSTGRES_USER: user_public
  POSTGRES_PASSWORD: password_public
