apiVersion: v1
kind: Secret
metadata:
  name: notification-db-secret
  namespace: delivery
  labels:
    app: notification-db
type: Opaque
stringData:
  POSTGRES_USER: <user>
  POSTGRES_PASSWORD: <password>
